body{
  background-color: rgb(63, 60, 71);
}
.basic:hover{
  transform: scale(101%);
}
.basic{
  background-color: rgb(70, 70, 70);
  height: 700px;
  width: 750px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 10px 5px 5px rgb(33, 33, 33);
  transition: transform 0.5s;
  margin-top: 20px;
}


.projects:hover{
  transform: scale(101%);
}
.projects{
  background-color: rgb(70, 70, 70);
  height: 700px;
  width: 750px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 10px 5px 5px rgb(33, 33, 33);
  transition: transform 0.5s;
  margin-top: 20px;
  margin-left: 1000px;
}
.text{
  font-size: x-large;
  color: ivory;
}
.title{
  font-size: 30px;
  color: ivory;
}
.links{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.link{
  width: 35px;
  margin-right: 5px;
  margin-left: 5px;
  }