

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #00385e 0%, rgb(0, 22, 37) 100%);
    background-repeat: no-repeat;
    background-size: cover;

     font-family: "Atkinson Hyperlegible Next", sans-serif;
}

nav{
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 30px;
    color: whitesmoke;
    h4{
        font-weight: 800;
        hr{
            text-align: left;
            margin-top: -10px;
            margin-bottom: -2px;
            color: whitesmoke;
            max-width: 10%;
        }
    }
}

.content{
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    position: absolute;
    left: 20%;
    top: 50%;
    a{
        color: whitesmoke;
        margin-left: 10px;
        margin-right: 10px; 
    }
}

.links{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  a{
    color: whitesmoke;
    margin-left: 30px;
    margin-right: 30px; 
  }
}

.heroText{
    size: 50px;
    position: absolute;
    left: 20%;
    top: 20%;
    color: whitesmoke;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    
}

footer{
    position: absolute;
    bottom: 0;
    margin: 30px;
    color: whitesmoke;
    font-weight: 800;

}
